{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% block link %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}">
            <button>홈</button>
        </a>

        <!-- 로그인이 되어 있는 경우 -->
        {% if user.is_authenticated %}
        <p><strong> {{ user.username }} 님 환영합니다 ! </strong></p>
        <a href="{% url 'logout' %}">
            <button>로그아웃</button>
        </a>
        <a href="{% url 'mypage' %}">
            <button>내 정보</button>
        </a>
        <a href="{% url 'create' %}">
            <button>글쓰기</button>
        </a>

        <!-- 로그인이 안 되어 있을 경우 경우 -->
        {% else %}
        <p><strong> 로그인 또는 회원가입이 필요합니다. </strong></p>
        <a href="{% url 'login' %}">
            <button>로그인</button>
        </a>
        <a href="{% url 'signup' %}">
            <button>회원가입</button>
        </a>
    {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>