@import "reset.css";

body html{
    width: 100%;
    height: 100%;
}

/* 헤더 div */
#header-div {

    /* 높이 설정 */
    height: 96px;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);

    /* flex 설정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  rgb(76, 75, 75);
}

#header-div input {
    background-color: black;
    border: 1px solid grey;
    width: 500px;
    height: 30px;  
}

/* 헤더 왼쪽 */
#header-left {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left_navigation {
    width: 24px;
}

.header_left_logo {
    width: 98px;
}

/* 헤더 센터 */
#header-center {
    display: flex;
    align-items: center;
}

/* 헤더 오른쪽 */
.header_right {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 메인 섹션(사이드 + 컨텐츠) */
#main-div{
    /* 높이설정 */
    height: 100%;
    width: 100%;

    /* flex설정 */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 사이드 div */
#side-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 높이 설정 */
    height: 100%;

    /* 너비 설정 */
    width: 18.7vw;

    /* 배경색 설정 */
    background-color: rgb(61, 60, 60);
}

/* 사이드 div 자식관계 */
ul {
    list-style: none;
}

#side-div ul {
    display: flex;
    justify-content: center;
    display: block;
}

#side-div ul li{
    display: flex;
    width: 240px;
    height: 50px;
    align-items: center;
}

#side-div ul li span {
    display: inline-block;
    font-size: 0.8rem;
    padding-left: 25px;
    color: white;
}   

/* 컨텐츠 div */
#content-div {
    padding-top: 8px;
    background-color: #949494;
  
    /* 높이 설정 */
    height: 100%;

    /* 너비 설정 */
    width: 80vw;

    /* flex 설정 */
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

#content-div {
    padding-top: 8px;
    background-color: #757575;
    /* 글씨 가운데 정렬 */
    /* text-align: left; */
    /* font-size: 50px; */


    /* 높이 설정 */
    height: 100%;

    /* 너비 설정 */
    width: 80vw;

    /* flex 설정 */
    display: flex;
    /* felx; */
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;

.writer-descript {
    /* margin-top: 10px; */
    width: 312px;
    display: flex;
    justify-content: space-between;
}

.writer-descript div p {
    text-align: left;
    font-size: 0.8rem;
}

