<!DOCTYPE html>
<html lang="ko">
    <head>
    <meta charset="utf-8">
    <title>삐융이 사진첩</title>
    </head>
    <body>
        <div class="container" style="text-align:center">
            <h2>삐융(여)</h2>
            <br>
            <img src="/static/img/삐융.jpg" width="400" alt="삐융"> <br>
            <img src="/static/img/삐융2.jpg" width="400" alt="삐융"> <br>
            <br>
            <a href="{% url 'test1'%}">모카 사진 보러가기 ♥ </a> <br>
            <a href="{% url 'test'%}">돌아가기</a>
        </div>
    </body>
</html>