{% extends 'base.html' %} 
{% load static %} 

{% block title %} 게시글 만들기 {% endblock %}
{% block content %}
    <h1>글 수정하기 </h1>
    <form action="{% url 'update' blog.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>제목 : <input type="text" name="title" value="{{ blog.title }}"></p>
        <p>작성자 : <input type="text" name="author" value="{{ blog.author }}"></p>
        <p>본문 : <textarea name="body" cols="300" row="100">{{ blog.body }}</textarea></p>
        <button type="submit">submit</button>
    </form>
{% endblock %}
