{% extends "base.html" %}
{% load static %}

{% block title %} 고양이화면 {% endblock %}
{% block link %} {% static 'css/cat.css'%} {% endblock %}
{% block content %}


    <h1>CRUD 과제</h1>
    <h2><사실은 포르쉐 구경하기></h2>

    {%for a in porsches%}
    <div class="bodystyle">
        <h2>{{a.name}}</h2>
        <h4>{{a.pub_date}}</h4>
        <h4>{{a.author}}</h4>
        <p>{{a.body}}</p>
            <p><img width="1280px" height="720px" src="{{ a.image.url }}" alt="로딩중" /></p>
    </div>
    {%endfor%}
{% endblock %}