{% extends 'base.html' %}
{% load static %}
{% block title %}detail{% endblock %}
{% block content %}
    <h3>제목: {{ board.title }}</h3>
    <p>작성자: {{ board.author }}</p>
    <p>생성시간: {{ board.pub_date }}</p>
    <p>내용: {{ board.body }}</p>
    {% if user == board.author %}
        <a href="{% url 'edit' board.id %}">
            <button>수정하기</button>
        </a>
        <a href="{% url 'delete' board.id %}">
            <button>삭제하기</button>
        </a>
    {% endif %}
    
        <h2>댓글</h2>
            <form action="{% url 'create_comment' board.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>작성자: <input type="text" name="author"></p>
            <p>댓글: <textarea name="content" cols="20" row="10"></textarea></p>
                <button type="submit">제출하기</button>
                </a>
            </form>

            {% for comment in board.comment_set.all %}
                <p>{{ comment.author }}</p>
                <p>{{ comment.content|linebreaksbr }}</p>
                <p>{{ comment.date }}</p>
            {% endfor %}
            {% if user == comment.author %}
                <a href = "{% url 'delete_comment' board.id comment.id %}">
                    <button>댓글 삭제</button>
            {% endif %}
{% endblock %}