<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta mane="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>[ 게시판 글쓰기 ]</h3>
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <input name="title" type="text" placeholder="제목을 입력하세요.">
        <input name="body" type="text" placeholder="내용을 입력하세요">
        <button>글쓰기</button>
    </form>
</body>
</html>