{% extends 'base.html' %}
{% load static %}
{% block title %} 일기 수정하기 {% endblock %}
{% block link %} {% static 'css/edit.css/' %} {% endblock %}
{% block content %}

<div id="edit_diary">
    <h2> [ 오늘의 일기 수정하기 ] </h2>
    <form action="{% url 'edit' diary.id %}" method="POST">
        {% csrf_token %}

        <div class="content"> <div class="input_title"> Diary Title </div> <input type="text" name="title" value="{{diary.title}}"> </div>
        <div class="content"> <div class="input_title"> Date </div> {{diary.pub_date}} </div>
        <div class="content"> <div class="input_title"> Weather </div> {{diary.weather}}  </div>
        <div class="content"> <div class="input_title">My Mood </div> {{diary.mood}} </div>       
        <div class="content"> <div class="input_title"> Diary Contents</div> <textarea id="diary_contents" name="body" cols="45" rows="8"> {{ diary.body }} </textarea> </div>

        {% if diary.image %}
            <div id="content_img">
                <img src="{{diary.image.url}}" width='300' alt="일기 사진 없음" />
            </div>
        {% endif %}

        <div id="update_btn">
            <button id="submit">  수정하기 </button>
        <div>

        </form>
    </div>

{% endblock %}