{% extends "base.html" %}
{% load static %}

{% block title %} 홈화면 {% endblock %}
{% block link %} {% static 'css/home.css'%} {% endblock %}
{% block content %}

    <h1>DJANGO CRUD 실습</h1>
    
    <hr>
    {%for a in blogs%}
    <div>
        <h2>{{ a.title }}</h2>
        <h4>{{ a.pub_date }}</h4>
        <h4>{{ a.author }}</h4>
        <p class="bodystyle">{{ a.body }}</p>
        <p><img src="{{ a.image.url }}" width="200" height="200" alt="로딩중" /></p>
        <a href="{% url 'detail' a.id %}">자세히보기</a>
    </div>
    {%endfor%}
{% endblock %}

