{% extends 're_base.html' %} 
{% load static %} 

{% block title %} 게시글 만들기 {% endblock %}
{% block content %}
    <h1>음식점 글쓰기</h1>
    <form action="{% url 're_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>제목 : <input type="text" name="name"></p>
        <p>주소 : <input type="text" name="address"></p>
        <p>작성자 : <input type="text" name="author"></p>
        <p>본문 : <textarea name="body" cols="30" row="10"></textarea></p>
        <button type="submit">submit</button>
    </form>
{% endblock %}
