{% extend 'base.html' %}
{% load static %}
{% block title %} 투 두 리스트 {% endblock %}
{% block content %}
    <h1>글 제목: {{ todo.title }}</h1>
    <h3>작성자: {{ todo.author }}</h3>
    <h5>게시일: {{ todo.pub_date }}</h5>
    <hr>
    <p><img src="{{ todo.image.url }}" width="200" height="200" alt="안 나와요" /></p>
    <p>{{ blog.body }}</p>
    <a href="{% url 'edit' todo.id %}"><input type="button" value="수정하기"></a>
    <a href="{% url 'delete' todo.id %}"><input type="button" value="삭제하기"></a>
{% endblock %}