html, body{
    margin:0 auto;
    flex-direction:column;
    font-size:10px;
}

/* display:flex (부모태그) 가 적용되는 태그 */
#header, #section, #searchbar, #searchbox, #search_input,
#mybar, #main, .side, #contents, .contentbox, .videocontent,
.videoinfo, .contentinfo, .views_date {
    display:flex;
}

#header{
    padding:1px;
    height:45px;
}
#section{
    padding:1px;
    align-items:center;
    flex:0 1 15%;
    font-size:5%;
}

/* img src 들어가는 모든 태그에 background 속성 적용 */
#menu, #logo, #keyboard, #search_btn, #voice_search {
    background-size: cover;
    background-repeat:no-repeat;
}

#menu{
    width:30px;height:20px;
    background-image:url("img/menu.PNG");
    border-radius:30px;
    margin:0 20px;
}
#logo{
    width:90px;height:30px;
    background-image:url("img/logo.PNG");
}
#searchbar{
    font-size:10px;
    line-height:30px;
    padding:1px;
    flex:1 0 60%;
    align-items:center;
    justify-content:center;
}
#searchbox{
    min-width:200px;
    padding:1px;
    height:30px;
    flex:0 1 60%;
}
#search_input{
    flex:0 1 80%;
    justify-content:space-between;
    align-items:center;
    border:1px solid rgb(175, 174, 174);
}
#input{font-size:15px;margin-left:10px;}
#keyboard{
    width:30px;height:20px;
    background-image:url("img/keyboard.PNG");
    margin-right:10px;
}
#search_btn{
    min-width:50px;
    background-image:url("img/search.PNG");
    flex:0 1 15%;
    border:1px solid rgb(175, 174, 174);
}
#voice_search{
    min-width:20px;
    background-image:url("img/음성검색.PNG");
    width:20px;height:23px;
    flex:0 1 3%;
}
#mybar{
    padding:1px;
    flex:1 1 10%;
    justify-content:space-around;
    align-items:center;
}
.icons{
    width:30px;height:30px;
    padding:1px;
    margin-left:2px;
}
.profile_icons{
    border-radius:60%;
    height:35px;width:35px;
    margin:5px;
    background-color:rgb(227, 247, 204);
    border:0.5px solid rgb(172, 171, 171);
    text-align:center;
    line-height:40px;
}
#main{
    justify-content:space-around;
    height:100vh;
    /*overflow-y:hidden;*/
}
#sidebar{
    min-width:180px;
    font-size:10px;
    flex:0 1 15%;
    flex-direction:column;
    align-items:space-between;
    height:100vh;
    overflow-y:scroll;
}
.barsection{
    margin-top:3px;
    padding:3px;
}
.side{
    align-items:center;
    height:30px;
    padding:3%;
    margin:1%;
 }
.baricon{
     margin:3px 15px 3px 5px;
     height:16px;width:25px;
 }
#subscribe{
    color:grey;
    font-size:13px;
    padding:5px;
    margin-left:15px;
}
#contents{
    min-width:200px;
    background-color:rgb(243, 242, 242);
    flex-basis:85%;
    flex-flow:row wrap;
    justify-content:space-around;
    align-content:flex-start;
    font-size:10px;
    height:100vh;
    overflow-y:scroll; 
}
.contentbox{
    margin-top:1%;
    width:250px;height:220px;
    flex-direction:column;
}
.videocontent{
    height:120px;
    margin:10px 3px 3px 3px;
    flex-direction:row-reverse;
    align-items:flex-end;
    background-color:rgb(153, 152, 152);
}
.time{
    height:15px;width:35px;
    background-color:rgb(27, 27, 27);
    border-radius:2px;
    color:white;
    text-align:center;
    margin:2px;
}
.videoinfo{
    height:100px;
    margin:3px;
}
.content_title{
    width:150px;
    height:40px;
    line-height:40px;
    margin-bottom:2px;
    background-color:rgb(247, 205, 128);
}
.channel{
    width:120px;
    background-color:rgb(219, 219, 208);
    margin-bottom:2px;
}
.views_date{justify-content:space-between;}
.views, .date{background-color:rgb(253, 124, 101);}
.views{ flex:0 1 60%;}
.date{flex:0 1 35%;}