{% extends 'base.html' %}
{% load static %}
{% block link %} {% static 'css/home.css' %} {% endblock %}
{% block title %} Home {% endblock %}
    {% block body %} 
    <h1>This is my Diary</h1>
    <div id="direction">
        {% for diaryDetail in diary %}
        <div class="diaryDetail">
            <span class="diaryTitle">{{diaryDetail.title}}</span><br>
            <span><img src="{{diaryDetail.photo.url}}" width="200" height="200" ></span><br>
            <a href="{% url 'detail' diaryDetail.id %}">
                자세히 보기
            </a><br>
        </div>
        {% endfor %}
    </div>
    <div class="diaryButton">
        {% if diary.has_previous %}
        <a href='?page={{diary.previous_page_number}}'><</a>
        {% endif %}

        <span>{{diary.number}}</span>
        <span>/</span>
        <span>{{diary.paginator.num_pages}}</span>
        
        {% if diary.has_next %}
        <a href='?page={{diary.next_page_number}}'>></a>
        {% endif %}
    </div>
    {% endblock %}