{% extends "base.html" %}
{% load static %}

{% block title %} 홈 화면 {% endblock %}
{% block link %} {% static 'css/home_cat.css' %} {% endblock %}




{% block content %}

    <h1>cat</h1>
    <a href="{% url 'new_cat' %}"><input type="button" value="작성하기"></a>
    {% for a in cats %}
    <div>
        <h2>{{ a.title }}</h2>
        <h5>{{ a.pub_date }}</h5>
        <h5>{{ a.author }}</h5>
        <h5 class="bodystyle">{{ a.body }}</h5>
        <p><img width="300px" height="300px" src="{{ a.image.url }}"></p>
        <a href="{% url 'detail_cat' a.id %}">자세히보기</a>
    </div>
    {% endfor %}

{% endblock %}