{% extends "base.html" %}
{% load static %}


{% block title %} 홈 화면 {% endblock %}
{% block link %} {% static 'home.css'%} {% endblock %}
{% block content %}

    <h2>HELLO!!</h2>

    {% for a in blogs%}
    <div>
        <h2>{{a.title}}</h2>
        <h4>{{a.pub_date}}</h4>
        <h4>{{a.author}}</h4>
        <p>{{a.body}}</p>
        <p>{{a.music}}</p>
        <p>{{a.movie}}</p>
        <p class="bodystyle">{{a.title}}</p>
        <p><img src="{{a.image.url}}" alt="안녕안녕"/></p>

    </div>
    {%endfor%}
{% endblock %}
</body>
</html>