{% extends "base.html" %}
{% load static %}

{% block title %} 강아지 화면 {% endblock %}
{% block link %} {% static 'css/dog.css' %} {% endblock %}
{% block content %}


    <h1>블로그 맛보기</h1>
    <h2>강아지 구경하기</h2>

    {%for a in dogs%}
    <div>
        <h2>{{a.name}}</h2>
        <h4>{{a.pub_date}}</h4>
        <h4>{{a.author}}</h4>
        <p>{{a.body}}</p>
        {% if a.image %}
        <p><img width="300px" height="300px" src="{{ a.image.url }}"></p>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}